{% load custom_filters %}
<h1>Checkout</h1>
<a href="/">Back to products</a>
<p>Hi, {{ user.username }}!</p>

{% if cart_items %}
	<table>
		<tr>
			<th>Product name</th>
			<th>Quantity</th>
			<th>Total Price</th>
			<th>Action</th>
		</tr>
		{% for cart_item in cart_items %}
			<tr>
 				<td>{{ cart_item.product.name }}</td>
				<td>{{ cart_item.quantity }}</td>
				<td>{{ cart_item.product.get_size_display }}</td>
				<td>₱{{ cart_item.total_price }}</td>
				<td>
					<form method="POST" action="{% url 'remove_cart_item' cart_item.id %}">
                        			{% csrf_token %}
                        			<input type="submit" value="Delete">
                    			</form>
                		</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="4">Total Price</td>
			<td>₱{{ total_price }}</td>
		</tr>
	</table>
	<form method="POST" action="#">
		{% csrf_token %}
		<input type="submit" value="Checkout">
	</form>
{% else %}
	<p>No cart items.</p>
{% endif %}