<head>
	<title>Transaction History</title>
</head>
<body>
	<h1>Transaction History for {{ user.username }}</h1>
	{% if transactions %}
		<table>
			<tr>
				<th>Transaction ID</th>
				<th>Date</th>
				<th>Items</th>
				<th>Purchase Amount</th>
			</tr>
			{% for transaction in transactions %}
				<tr>
					<td>{{ transaction.id }}</td>
					<td>{{ transaction.created_at }}</td>
					<td>
						<ul>
							{% for line_item in transaction.lineitem_set.all %}
								<li>{{ line_item.quantity }} x {{ line_item.product.name }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>₱{{ transaction.total_price }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No transactions found.</p>
	{% endif %}
	<a href="{% url 'index' %}">Back to Home</a>
</body>